.promo {
    padding: 0 0 100px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
        max-width: 960px;
        margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
        max-width: 720px;
        margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
        max-width: 540px;
        margin: 0 auto;
    }

    @media screen and (max-width: 360px) {
        max-width: 320px;
        margin: 0 auto;
    }
}

.promoWrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
    }
}

.promoImgWrap {
    position: relative;
    overflow: hidden;
    
}

.promoImg {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.promoImg + .promoImg {


}


.banner {
    padding: 13px 24px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}
.bannerText{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    white-space: nowrap;
}

.bannerTextColor{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;   
    text-transform: uppercase;
    color: #E91E63;
}

.bannerTextGray {
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #b3b3b3;
}
