.productCard {

}

.container {
    max-width: 1100px;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
        max-width: 960px;
        margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
        max-width: 720px;
        margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
        max-width: 540px;
        margin: 0 auto;
    }

    @media screen and (max-width: 360px) {
        max-width: 320px;
        margin: 0 auto;
    }
}

.productCardWrapper {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-gap: 15px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 100px 1fr;
    }

    @media screen and (max-width: 360px) {
        grid-template-columns: 1fr;
    }
}

.relatedProductsWrap {
    padding: 110px 0;
}

.productCardLeft {
    @media screen and (max-width: 360px) {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        max-width: 320px;

    }
}

.productCardLeftImg {
    @media screen and (max-width: 360px) {
        max-width: 60px;
    }
}

.productCardLeftImg + .productCardLeftImg {
    margin-top: 15px;

    @media screen and (max-width: 360px) {
        margin-top: 0px;

    }
}

.productCardMedium {
    @media screen and (max-width: 360px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3
    }
}

.productCardMediumImg {
    @media screen and (max-width: 576px) {
        max-width: 400px;
    }

    @media screen and (max-width: 360px) {
        max-width: 320px;
    }
}

.productCardRight {
    @media screen and (max-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    @media screen and (max-width: 360px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.colorSize {
    padding: 35px 0;
}

.color {

}

.colorText {

}

.colorTextSpan {

}

.colorImages {
    display: flex;
    flex-wrap: wrap;
}

.colorImg {

}

.colorImg + .colorImg {
    margin-left: 15px;
}

.size {

}

.colorText {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-align: left;
    text-transform: uppercase;
    color: #9C9C9C;
    
}

.colorTextSpan {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #121212;
}

.sizeBtns {

}

.sizeBtn {
    height: 40px;
    width: 40px;
    background-color: #F8F8F8;
    border: none;
}

.sizeBtn + .sizeBtn {
    margin-left: 15px;
}

.sizeGuide {

}

.sizeGuideImg {

}

.sizeGuideText {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #9C9C9C;

}

.priceWrap {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
}

.price {
    max-width: 800px;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
}

.priceBtn {
    height: 58px;
    width: 156px;
    background-color: #121212;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
}

.priceIcon {
}

.features {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featuresItem {
    display: flex;
    align-items: center;
}

.featuresItemText {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #9C9C9C;
    
}

.pay {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
}

.payImg {

}

.descript {
    padding: 32px;
    border-bottom: 2px solid #E5E5E5;
}

.desriptText {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #9C9C9C;
    
}

.info {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #E5E5E5;
}
.infoTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.infoText {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #9C9C9C;
    
}

.infoTextSpan {
    font-weight: 500;
    color: #121212;

}

.reviews {
    padding: 32px 0;
    border-bottom: 2px solid #E5E5E5;
}

.reviewsTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.reviewsIntro {
    display: flex;
    justify-content: space-between;
}


.rating {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    line-height: 0.75;

}
.ratingBody {
    position: relative;
}

.ratingBody::before {
    content: '☆☆☆☆☆';
    display: block;
    color: #E5E5E5;
}

.ratingActive {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


.ratingActive::before {
    content: '★★★★★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #F0CC84;
}

.ratingItems {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.ratingItem {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.feedbacks {
    padding: 20px 0 0;
}

.feedback {

}

.feedback + .feedback{
    margin-top: 48px;
}

.feddbackIntro {
    display: flex;
    justify-content: space-between;
}

.userName {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;  
    
}

.feedbackRating {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    line-height: 0.75;

}
.feedbackRatingBody {
    position: relative;
}

.feedbackRatingBody::before {
    content: '☆☆☆☆☆';
    display: block;
    color: #E5E5E5;
}

.feedbackRatingActive {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


.feedbackRatingActive::before {
    content: '★★★★★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #F0CC84;
}

.feedbackRatingItems {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.feedbackRatingItem {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.feedbackText {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    
}

.relatedTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
    list-style: none;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 360px) {
        grid-template-columns: 1fr;

    }
}

.productsItem {

}

.productsImgWrap {
}

.productWrap {
    position: relative;
}

.productLink {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.productsSales {
    height: 31px;
    width: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E91E63;
}

.productsSalesSpan {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    color: white;
}


.productsImg {

}

.productsTitle {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;

}

.productsIntro {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.productsPrice {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    
}

.oldPrice {
    margin-left: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-decoration-line: line-through;
    color: #A0A0A0;
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    line-height: 0.75;

}
.ratingBody {
    position: relative;
}

.ratingBody::before {
    content: '☆☆☆☆☆';
    display: block;
    color: #E5E5E5;
}

.ratingActive {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


.ratingActive::before {
    content: '★★★★★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: #F0CC84;
}

.ratingItems {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.ratingItem {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

