
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.headerTop {
    min-height: 24px;
    background-color: #121212;
}

.headerTopWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerCcontacts {
    
}

.headerSocial {
    
}

.headerBottom {
    min-height: 66px;
    border-bottom: 2px solid #F8F8F8;
}

.headerBottomWrap {
    display: flex;
    justify-content: space-between;
}

.headerLogo {

}

.headerNav {
}

.headerAccount {

}

.contactsList {
    display: flex;
    list-style: none;
}

.contactsItem {

}

.contactsItem + .contactsItem {
    margin-left: 30px;
}

.contactsImg {

}

.contactsText {
    margin-left: 10px;
    font-family: 'Spartan';
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: #FFFFFF;

}


.socialList {
    display: flex;
    list-style-type: none;
}

.socialItem {
    

}

.socialItem + .socialItem {
    margin-left: 12px;
}

.socialItem  {

}

.socialItem  {

}

.logoImg {

}


.navList {
    display: flex;
    list-style-type: none;
}

.navItem {

}

.navItem + .navItem {
    margin-left: 32px;
}

.navLink {
    text-decoration: none;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #121212;

}


.accountList {
    display: flex;
    list-style-type: none;
}

.accountItem {

}

.accountItem + .accountItem {
    margin-left: 20px;
}

.accountImg {

}


