.features {
    padding: 35px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.featuresWrapper {

    }

.featuresList {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.featuresItem {
    display: flex;
    
}

.featuresImg {

}

.featuresIntro {
    margin-left: 13px;
    min-width: 310px;

}

.featuresTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.featuresText {

}

