.breadcrump {

}

.breadcrumpList {
    max-width: 665px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}

.breadcrumpItem {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #A5A5A5;

    @media screen and (max-width: 780px) {
        font-size: 10px;
    }
}

.breadcrumpItemActive {

}

.breadcrumpItem + .breadcrumpItem {
    margin-left: 30px;
 
    @media screen and (max-width: 780px) {
        margin-left: 10px;
    }

    @media screen and (max-width: 500px) {
        margin: 10px 0 0 0;
    }
}

.breadcrumpText {
    
}

.breadcrumpItemActive {
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #121212;

}

