.blog {
    padding: 100px 0 160px;


}

.blogContainer {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
    
    @media screen and (max-width: 1170px) {
        max-width: 730px;
    }

}

.blogWrapper {

}

.blogHeader {
    display: flex;
    justify-content: space-between;
}

.blogHeaderTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.blogHeaderSeeAll {
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #939393;

}


.blogItems {
    display: grid;
    grid-gap: 25px;
    grid-template-columns:  350px 350px 350px;
    justify-items: center;
    

    @media screen and (max-width: 1170px) {
        grid-template-columns:  1fr 1fr;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns:  1fr;
        grid-gap: 100px;
    }
}

