.blog {
    padding: 100px 0 150px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
        max-width: 960px;
        margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
        max-width: 720px;
        margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
        max-width: 540px;
        margin: 0 auto;
    }

    @media screen and (max-width: 360px) {
        max-width: 320px;
        margin: 0 auto;
    }
}

.wrapper {

}

.top {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
}

.seeAll {
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}


.imgList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
    }
}

.imgWrap {
    position: relative;

}

.imgWrap + .imgWrap{

    @media screen and (max-width: 576px) {
        margin-top: 150px;
    }
    
}

.img {

    @media screen and (max-width: 360px) {
        max-width: 320px;
    }
}

.banner {
    min-height: 120px;
    width: 302px;
    padding: 0 0 0 15px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 2;
}

.subtitle {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;  
}

