@font-face {
    font-family: 'Spartan';
    src: url(./assets/fonts/Spartan-Regular.woff2) format('woff2'),
    url(./assets/fonts/Spartan-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan';
    src: url(./assets/fonts/Spartan-Medium.woff2) format('woff2'),
    url(./assets/fonts/Spartan-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan';
    src: url(./assets/fonts/Spartan-SemiBold.woff2) format('woff2'),
    url(./assets/fonts/Spartan-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan';
    src: url(./assets/fonts/Spartan-Bold.woff2) format('woff2'),
    url(./assets/fonts/Spartan-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #121212 !important;
    font-size: 20px !important;
}



@at-root {
  :root {
    --swiper-navigation-size: 44px;
    /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
  }
}


.swiper-buttonPrev,
.swiper-buttonNext {
  position: absolute;
  top: -55px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  
  &:after {
    font-family: swiper-icons;
    font-size: 15px;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}
.swiper-buttonPrev,
.swiper-rtl .swiper-buttonNext {
  &:after {
    content: 'prev';
  }
  right: 80px;

}
.swiper-buttonNext,
.swiper-rtl .swiper-buttonPrev {
  &:after {
    content: 'next';
  }
  right: 30px;

}

.swiper-button-lock {
  display: none;
}
