.titleProductPage {
    min-height: 70px;
    background-color: #F8F8F8;
;
}
.container {
    max-width: 1120px;
    padding: 0 20px;
    margin: 0 auto;
}
.title {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

}
